*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: linear-gradient(rgb(12, 3,51,0.3),rgb(12,3,51,0.3));  
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}
.backvideo{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.content{
    text-align: center;
}
h1{
    font-size: 100px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}
h1:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;
}
a{
    display: inline-block;
    text-decoration: none;
    border: 2px solid white;
    font-size: 20px;
    padding: 14px 50px;
    margin-top: 20px;
    transition: all 0.5s ease;
    color: wheat;
}
a:hover{
    background-color: white;
    color: black;
}
@media (min-aspect-ratio: 16/9){
    .backvideo{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .backvideo{
        width: auto;
        height:100%;
    }
}

